html, body, #basicMap {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

#basicMap.small {
    width: 70%;
}

.mapGoto {
    text-decoration: underline;
    cursor: pointer;
    color: blueviolet;
}

#cercleForm {
    width: 30%;
    height: 100%;
}

#create {
    position: absolute;
    z-index: 1000;
    right: 30%;
}

.hidden {
    display: none;
}